:root {

  // colors
  --color-transparent: rgba(0, 0, 0, 0);
  --color-black: #181818;
  --color-white: #ffffff;
  --color-gray: #8C8C8C;
  --color-light-gray: #D9D9D9;
  --color-background: var(--color-black);

  // other
  --default-box-shadow: 5px 5px 50px rgba(39, 44, 49, .1), 0px 5px 12px rgba(39, 44, 49, .1);

  // background-color

}
